body{
	background-color: #D3D3D3;
}
header{
	width:1903px;
	height: 85px;
	background-color:#FFFFFF;
	font-size:20px;
	font-family: 'Lato', sans-serif;
}
#logo{
	float: left;
	margin-top:27px;
	margin-left: 250px;
	margin-right: 170px;
}
#ht{
	margin-top:27px;
	float:left;
	margin-right:70px;
}
#log{
	margin-top:27px;
	float:left;
	margin-left: 200px;
}
#st{
	margin-top:18px;
	float:left;
	margin-left: 30px;
	margin-right: 150px;
	background-color:#15a176;
	color:#FFFFFF;
	width:183px;
	height:51px;
	border-radius:5px;
	text-align:center;
}
#st:hover{
	background-color:#245852;
	margin-top: 13px;
}
#st0{
	margin-top:10px;
}
#fs{
	margin-top:2px;
	width:1903px;
	height:895px;
	background-image: url('img/bg.jpg');
	
}
*{
	margin:0;
	padding:0;
	letter-spacing: 2px;
	line-height:30px;
	word-spacing:3px;
}
a:link { text-decoration: none; 
color:#000000;
}
    a:visited { text-decoration: none;
	color:#000000;	}
    a:active { text-decoration: none;
	color:#000000;	}
#wa{
	position:absolute;
	margin-left:250px;
	margin-top:200px;
}
h1{
	color:#15a176;
	font-size:75px;
	line-height: 70px;
}
#p1{
	font-family: 'Lato', sans-serif;
	margin-top:20px;
	font-size: 17px;
}
#fyw{
	font-family: 'Lato', sans-serif;
	margin-top:50px;
	background-color:#15a176;
	color:#FFFFFF;
	width:227px;
	height:48px;
	border-radius:5px;
	text-align:center;
	padding-top:17px;
	font-size:17px;
}
#fyw:hover{
	background-color: #245852;
	margin-top: 45px;
}
#ss{
	width:1903px;
	height:1408px;
	background-color:#FFFFFF;
	padding-top:200px;
}
#mss{
	margin-left:250px;
	float:left;
}
#hiw{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	width:300px;
}
#un{
	line-height: 80px;
	font-size:60px;
	line-height:65px;
	width:700px;
}
#al{
	float:left;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width:850px;
	margin-left:50px;
	margin-top:40px;
}
#mss:hover {
	color:red;
}
#per0{
	margin-left:100px;
}
#per{
	height:898px;
	width:390px;
	margin-left:150px;
	margin-top: 250px;
	float:left;
}
#per:hover{
	animation-name: appearence;
	animation-duration: 3s;
}
#pic{
	width:390px;
	background-image:url(img/01.png);
	background-repeat: no-repeat;
	font-size:20px;
	padding-top:60px;
	padding-bottom:50px;
	padding-left:85px;
}
#pic2{
	width:390px;
	background-image:url(img/02.png);
	background-repeat: no-repeat;
	font-size:20px;
	padding-top:60px;
	padding-bottom:50px;
	text-align:right;
}
#pic3{
	width:390px;
	background-image:url(img/03.png);
	background-repeat: no-repeat;
	font-size:20px;
	padding-top:60px;
	padding-bottom:50px;
	padding-left:115px;
}
#pertext{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	height:180px;
}
p.less{
	word-spacing:0px;
}
#s3{
	height:672px;
	width:1903px;
	background-color: #245852;
	padding-top:150px;
}
#s3text{
	margin-left:200px;
	color:white;
	font-size: 20px;
	float:left;
	margin-right: 100px;
	margin-top:80px;
}
#let{
	color: white;
	font-size: 55px;
	padding-bottom: 50px;
}
#lgs{
	font-family: 'Lato', sans-serif;
	margin-top:50px;
	background-color:#15a176;
	color:#FFFFFF;
	width:227px;
	height:48px;
	border-radius:5px;
	text-align:center;
	padding-top:17px;
	font-size:17px;
}
#lgs:hover{
	background-color:rgb(49, 133, 105);
	margin-top:45px;
}
#video{
	float:left;
	background-image:url('img/video.jpg');
	width:895px;
	height:516px;
	border-radius:17px;
}
#play{
	margin-top:220px;
	margin-left:410px;
}
#s4{
	width:1903px;
	height:788px;
	padding-top:150px;
	background-color:white;
}
#cuz{
	float:left;
	margin-left:250px;
	width:700;
	height:648;
}
#s4text{
	float: left;
	margin-left: 70px;
}
#our{
	font-family: 'Lato', sans-serif;
	font-size:20px;
	margin-bottom:30px;
}
#everyone{
	font-family: 'Lato', sans-serif;
}
#you{
	font-size:60px;
	margin-bottom:30px;
}
footer{
	width:1653px;
	height:554px;
	padding-top:100px;
	padding-left:250px;
	color:white;
	font-size:20px;
	font-family: 'Lato', SemiBold;
	background-color: #245852;
}
#footm{
	margin-bottom:70px;
}
.runtext{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	background-color: #15a176;
	}
.runtext span {
	margin-top: 7px;
	font-family: 'Lato', sans-serif;
	color:#FFFFFF;
	font-size:20px;
	display:inline-block;
	padding-left:100%;
	-webkit-animation: marquee 15s infinite linear;
	animation: marquee 15s infinite linear;
	padding-bottom: 10px;
	}
.picper{
	animation-name: pic;
	transform: rotate(0deg);
}
.picper:hover{
	transform: rotate(5deg);
}
.pic2per{
	animation-name: pic;
	transform: rotate(0deg);
}
.pic2per:hover{
	transform: rotate(-5deg);
}
@-webkit-keyframes marquee {
	100%{-webkit-transform: translate(0, 0);}
	0%{-webkit-transform: translate(-100%, 0);}
	}
@keyframes marquee{
	100%{-webkit-transform: translate(0, 0);}
	0%{-webkit-transform: translate(-100%, 0);}
	}
@keyframes appearence{
	0%{opacity: 100%;}
	50%{opacity:50%;}
	100%{opacity: 100%;}
}